.body {
    background-color: black;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%; -50%);
}
.pulse {
    width: 90px;
    height: 90px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    position: relative;
}
.icon {
    position: absolute;
    font-size: 50px;
    text-align: center;
    width: 90px;
    height: 90px;
    line-height: 92px;
    opacity: 1;
    transition: all .5s ease-in-out;
    animation: phone .9s ease-in-out infinite;
}
@keyframes phone {
    0%, 100% {
        transform: rotate(-20deg)
    }
    50% {
        transform: rotate(20deg)
    }
}
.text {
    position: absolute;
    font-weight: 700;
    top: 38px;
    left: 18px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 18px;
    transform: scaleX(-1);
    transition: all .5s ease-in-out;
    opacity: 0;
    
}

.pulse:hover .text {
    transform: scaleX(1);
    transition: all .5s ease-in-out;
    opacity: 1;
}
.pulse:hover .icon {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transform: scaleX(0);
}

.pulse:hover::before,
.pulse:hover::after {
    content: "";
    position: absolute;
    border: 2px solid red;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 1.8s linear infinite;
    opacity: 0;
}
.pulse:hover::after {
    animation-delay: .8s;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.square {
    border: 1px solid black;
}

.square:hover::after,
.square:hover::before {
    content: "";
    position: absolute;
    border: 2px solid red;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    animation: pulse 1.8s linear infinite;
    opacity: 0;
}


